<clr-tabs>
  <clr-tab *ngFor="let tab of asyncTabs | async">
    <button clrTabLink>{{ tab.label }}</button>
    <clr-tab-content *clrIfActive class="iframe-container">
      <iframe [src]="tab.url" width="100%" height="100%" title="Certidão"></iframe>
    </clr-tab-content>
  </clr-tab>
  <clr-tab>
    <button clrTabLink><a href="https://consulta-crf.caixa.gov.br/consultacrf/pages/consultaEmpregador.jsf" target="_blank">Management</a></button>
    <clr-tab-content *clrIfActive>
      <p cds-text="body" cds-layout="m-t:md">Content for Management tab.</p>
    </clr-tab-content>
  </clr-tab>
</clr-tabs>

<ng-template #loading>
  Carregando abas...
</ng-template>

