.iframe-container {
  height: 80vh; /* Ajuste a altura conforme necessário */
  width: 100%;
}

.iframe-container iframe {
  border-color: none;
  outline: none;
  height: 100%;
  width: 100%;
  border: 24px;
}

